{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:unicorn/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-floating-promises": "error",
    "unicorn/no-null": "off",
    "unicorn/no-useless-undefined": "off",
    "unicorn/prefer-ternary": "off",
    "unicorn/prevent-abbreviations": [
      "error",
      {
        "allowList": {
          "params": true
        }
      }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
